@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.Contact {
  display: flex; 
  flex-direction: column;
  align-items: center; 
  flex-wrap: wrap;
}
.desc {
    color: var(--titleColor);
    width: 60%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 70px;
}

.Name {
    margin: 10px;
    background: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    letter-spacing: -1px;
    font-size: 40px;
}

@media (max-width: 464px) {
  
  .desc {
    font-size: 30px;
  }
    
  .Name {
    font-size: 30px;
  }

}
