.information {
    color: var(--informationColor);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.personalInformation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.personalItens {
    margin: 0 5px 0 5px;
}

.upperFooter::after {
    content: '';
    height: 2px;
    display: block;
    background-color: rgba(102, 102, 102, 1);
    margin: 20px 0 20px 0;
    width: 100%;
}

.downFooter {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    justify-content: space-between;
}

.links {
    display: flex;
    flex-wrap: wrap;
}