@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.Home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.desc {
    color: var(--titleColor);
    width: 60%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 70px;
   }
   
   .Name {
    margin: 10px;
    background: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    letter-spacing: -1px;
   }
   
   .img {
     height: 300px;
     width: 300px;
     border-radius: 175px;
     border-width: 10px;
     border-style: solid;
     border-image: linear-gradient(180deg, #E70FAA, #00C0FD) 1;
     background: linear-gradient(#E70FAA, #00C0FD);
   }

   @media (max-width: 350px) {
     .img {
      height: 200px;
      width: 200px;
     }
   }

   @media (max-width: 250px) {
    .img {
     height: 100px;
     width: 100px;
    }
  }