@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: #F5F5F5;
}

.desc {
 color: #42446E;
 font-family: Poppins;
 font-style: normal;
 font-weight: 700;
 font-size: 40px;
 line-height: 70px;
}

.Name {
 margin: 10px;
 background: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 background-clip: text;
 letter-spacing: -1px;
}

.img {
  max-height: auto;
  max-width: auto;
  height: 300px;
  width: 300px;
  border-radius: 175px;
  border-width: 10px;
  border-style: solid;
  border-image: linear-gradient(180deg, #E70FAA, #00C0FD) 1;
  background: linear-gradient(#E70FAA, #00C0FD);
}

.technologies {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.technologiesTitle {
  color: rgba(66, 68, 110, 1);
}

.technologiesText {
  color: rgba(102, 102, 102, 1);
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 373px;
  min-height: 567px;
  background: #FFFFFF;
  box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
}

.projectImg {
  height: auto;
  border-radius: 20px 20px 0px 0px;
  width: 100%;
}

.projectText {
  margin: 5px;
  color: #666666;
}

.projectStacks {
  margin: 5px;
}

.projectLinks {
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
}

.projectLink {
  display: flex;
  align-items: center;
}

.projectLink img {
  margin: 10px;
}

/* .Div {
  margin: 0 10% 0 10%;
} */

