.technologies {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.Title {
    color: rgba(66, 68, 110, 1);
  }
  
.Text {
    color: rgba(102, 102, 102, 1);
  }
 
.stacks {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}